/* How to display blog posts */

.card {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
}

.card-hero {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-flow: row wrap;
}

.card-hero--info {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: stretch;
}

/* Blog content */

.author {
  width: 120px;
  border-radius: 50%;
}
