/* General styling */

.grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 1fr 300px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "head head"
    "content side"
    "foot foot";
}

header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: var(--color-accent1);
}

.content {
  grid-area: content;
}

aside {
  grid-area: side;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-bg);
  padding: 10px;
}

footer {
  grid-area: foot;
}

.site-logo {
  margin-top: 10px;
  width: 300px;
}

/* Home page */

/* Sidebar */

.side-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-bottom: 1px solid black;
}

.side-author-img {
  width: 200px;
  border-radius: 50%;
}

/* Single blog post */

/* Design system page */

/* Responsive media queries */
@media (max-width: 800px) {
  .grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "head"
      "content"
      "side"
      "foot";
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
