/* General styling */

.grid {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: minmax(120px, auto);
  grid-template-areas:
    "head head"
    "content side"
    "foot foot";
}

header {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: var(--color-accent1);
}

.content {
  grid-area: content;
}

aside {
  grid-area: side;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--color-bg);
  padding: 10px;
}

footer {
  grid-area: foot;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 30px 10px;
  background-color: var(--color-accent1);
}

img {
  width: 100%;
}

/* adds 10px to top and bottom - is this ok to do? */

.margin-10 {
  margin: 10px 0;
}

/* Navigation */

nav li {
  list-style: none;
  display: inline-block;
}

/* Forms */

.form-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Sidebar */

.side-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
  padding: 40px 20px;
  border-bottom: 1px solid black;
}

.side-content:last-of-type {
  border-bottom: 0px;
}

.side-categories {
  width: 100%;
}

/* Footer */
.footer-info,
.footer-credits {
  padding: 10px 2px;
}

/* TODO Home page */

/* TODO Single blog post */

.recipe {
  padding: 20px;
}

.recipe-box {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--color-primary);
}

.recipe-box ul,
.recipe-box ol {
  margin: 15px;
}

/* TODO Design system page */

/* Responsive media queries */
@media (max-width: 800px) {
  .grid {
    display: grid;
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
      "head"
      "content"
      "side"
      "foot";
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
