@import "./typography.css";
@import "./layout.css";
@import "./components.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-primary: #f2668b;
  --color-secondary: #f2958d;
  --color-bg: #f6e3e4;
  --color-accent1: #f2bbbf;
  --color-accent2: #bf506e;
  --color-grey: #565656;
}
