h1 {
  font: 2.6rem/1.8 "Calistoga", cursive;
}

h2 {
  font: 800 1.6rem/1.6 "Karla", sans-serif;
  text-transform: uppercase;
}

h3 {
  font: 700 1.2rem/1.4 "Karla", sans-serif;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font: 700 1.2rem/1.4 "Karla", sans-serif;
}

p {
  font: 1rem/1.4 "Karla", sans-serif;
}

a {
  font: 1rem/1.4 "Karla", sans-serif;
  color: var(--color-accent2);
  text-decoration: none;
}

/* Navigation */

nav li {
  list-style: none;
  display: inline-block;
}

.top-nav-link {
  text-transform: uppercase;
  padding: 8px;
  transition: background-color ease-in-out 0.3s;
}

.top-nav-link:link,
.top-nav-link:visited,
.top-nav-link:active {
  background-color: var(--color-bg);
}

.top-nav-link:hover {
  background-color: var(--color-primary);
  color: white;
}
