/* Headings */

h1 {
  font: 2.6rem/1.8 "Calistoga", cursive;
}

h2 {
  font: 800 1.6rem/1.6 "Karla", sans-serif;
  text-transform: uppercase;
}

h3 {
  font: 700 1.2rem/1.6 "Karla", sans-serif;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font: 700 1.2rem/2 "Karla", sans-serif;
}

/* paragraphs, lists, links, specific text */

p,
li {
  font: 1rem/1.4 "Karla", sans-serif;
  color: var(--color-grey);
  margin-bottom: 1rem;
}

figcaption {
  font: 1rem/1.4 "Karla", sans-serif;
  color: var(--color-grey);
  text-align: center;
  background-color: var(--color-bg);
}

a {
  font: 1rem/1.4 "Karla", sans-serif;
  color: var(--color-accent2);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary);
}

.recipe-intro,
.archive-intro {
  font: 1.2rem/1.6 "Karla", sans-serif;
  margin-bottom: 1rem;
}

.btn {
  font: 700 1rem/1.4 "Karla", sans-serif;
  text-transform: uppercase;
}

/* Navigation */

.nav-link {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 8px;
  transition: background-color ease-in-out 0.3s;
}

.nav-link:link,
.nav-link:visited,
.nav-link:active {
  background-color: var(--color-bg);
}

.nav-link:hover {
  background-color: var(--color-primary);
  color: white;
}

/* Forms */

button[type="submit"] {
  font: 700 1rem/1.4 "Karla", sans-serif;
  text-transform: uppercase;
}

.form-field label {
  font: 1rem/1.4 "Karla", sans-serif;
  color: var(--color-grey);
}

.form-field input {
  font: 1rem/1.4 "Karla", sans-serif;
  color: var(--color-grey);
}
